{% extends "index.jinja2" %}
{% block content %}
    <article>
        <p>Code written by hand by <a href = "https://github.com/iiPythonx">iiPython</a>.</p>
        <p>Release information provided by <a href = "https://musicbrainz.org">MusicBrainz</a>.</p>
        <p>Site powered by <a href = "https://pages.cloudflare.com">Cloudflare Pages</a>.</p>
        <br>
        <a href = "/" style = "text-decoration: none;">← Back to search</a>
    </article>
{% endblock %}
