<!doctype html>
<html lang = "en">
    <head>
        <meta charset = "utf-8" />
        <meta name = "viewport" content = "width=device-width, initial-scale=1" />
        <meta name = "mobile-web-app-capable" content = "yes">
        <meta name = "darkreader-lock" />

        <!-- Discord metadata -->
        <meta name = "theme-color" content = "#4cb963">
        <meta property = "og:title" content = "cdbar{% if title %} · {{ title }}{% endif %}">
        <meta property = "og:description" content = "Find virtually any CD by its barcode.">
        <meta property = "og:image" content = "/assets/favicon.png">

        <!-- CSS -->
        <link rel = "stylesheet" href = "/assets/cdbar.css">
        <link rel = "icon" type = "image/png" href = "/assets/favicon.png">

        <title>cdbar{% if title %} · {{ title }}{% endif %}</title>
    </head>
    <body>
        {% block content %}
            <main data-section = "input">
                <input type = "search" autocomplete = "off" placeholder = "Type in a barcode" id = "barcode" autofocus = "">
                <div>
                    <span id = "lookup-error"></span>
                    <button id = "lookup">Search</button>
                </div>
            </main>
            <main data-section = "scan">
                <canvas></canvas>
                <a href = "/">← Cancel scan</a>
            </main>
            <main data-section = "loading">
                <div class = "lds-dual-ring"></div> Searching for matches
            </main>
            <main data-section = "result"></main>

            <!-- Footer -->
            <footer class = "links">
                <a href = "/about">About</a>
                ·
                <a href = "https://github.com/iiPythonx/cdbar">GitHub</a>
            </footer>

            <!-- JS -->
            <script src = "/assets/cdbar.js" type = "module" async defer></script>
        {% endblock %}
    </body>
</html>